<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->




<ion-content class="vertical_dotted_line">
    <!-- <div padding [@fadeIn]="cloudState" id="cloud-layer"> -->
    <div padding [@fadeIn]="cloudState" id="cloud-layer">

        <ion-row>
            <ion-col>
                <img [@flyInBottomSlow]="logoState" src="assets/images/logo.png" />
            </ion-col>
        </ion-row>

        <ion-row class="input-section">
            <ion-col>
                <ion-list>

                    <ion-item class="login-item-qatar" inset [@bounceInBottom]="formState">
                        <ion-label class="login-label">Qatar Id</ion-label>
                        <ion-input class="login-input" [(ngModel)]="quatarId" placeholder="Qatar Id" type="text"></ion-input>
                    </ion-item>

                    <!-- <ion-item class="login-item">
                        <ion-label class="login-label">Password</ion-label>
                        <ion-input class="login-input" placeholder="Eight Digit Aplpha Numeric" type="password"></ion-input>
                    </ion-item> -->

                    <ion-item class="login-item-otp" [hidden]="!showOtpBox" inset [@fadeInOtp]="otpState">
                        <!-- <ion-label class="login-label">Password</ion-label> -->
                        <ion-input class="otp-styling" placeholder="Enter OTP" [(ngModel)]="otpFromAlEmadi" type="number">{{otpFromAlEmadi}}</ion-input>
                    </ion-item>

                </ion-list>
            </ion-col>
        </ion-row>

        <ion-row [hidden]="showOtpBox">
            <ion-col>
                <button ion-button class="login-button" [@fadeIn]="loginState" (click)="getOtpFromTheServer()">Login</button>
            </ion-col>
        </ion-row>

        <div [hidden]="!isAndroid">
            <ion-row [hidden]="!showOtpBox" style="margin-bottom:20px">
                <ion-col>
                    <button class="login-round-button" ion-button round [@rotateLoginButton]="otpRoundButtonState" (click)="validateOtpAndLogin()">
                    <ion-icon name="arrow-round-forward"></ion-icon>
                </button>
                </ion-col>
            </ion-row>
            <div id="fountainG" [hidden]="!showWaitingForOtpLoadingAnimation">
                <div id="fountainG_1" class="fountainG"></div>
                <div id="fountainG_2" class="fountainG"></div>
                <div id="fountainG_3" class="fountainG"></div>
                <div id="fountainG_4" class="fountainG"></div>
                <div id="fountainG_5" class="fountainG"></div>
                <div id="fountainG_6" class="fountainG"></div>
                <div id="fountainG_7" class="fountainG"></div>
                <div id="fountainG_8" class="fountainG"></div>
            </div>
            <div [hidden]="!showAutomaticallyLoginString" class="automatic-login-string">automatically logging you in {{tick}} seconds</div>
        </div>
        <div [hidden]="isAndroid">
            <ion-row [hidden]="!showOtpBox" style="margin-bottom:20px">
                <ion-col>
                    <button class="login-round-button-ios" ion-button round (click)="validateOtpAndLogin()">
                    <ion-icon name="arrow-round-forward"></ion-icon>
                </button>
                </ion-col>
            </ion-row>
        </div>
    </div>
</ion-content>