.ios,
.md {
    page-login {
        //custom styling by abhi
        .login-label {
            width: 65px!important;
            text-align: center;
            color: black !important;
            font-weight: 500;
            //margin-right: 0px;
        }
        //for quatar id box
        .login-input {
            background: white;
        }
        .login-item {
            border: 1px solid rgba(0, 0, 0, 0.46) !important;
            padding: 0px;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.18);
        }
        //for otp box
        //for otp box
        //for otp box
        .login-item-otp {
            padding: 0px;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.18);
            border-radius: 5px !important;
            padding-left: 10px !important;
            margin-bottom: 10px;
            opacity: 0.7;
            font-size: 0.9em;
        }
        .item-inner {
            padding: 0px!important
        }
        .otp-styling {
            font-size: 20px;
            text-align: center;
        }
        ion-input.otp-styling input {
            text-align: center;
        }
        //for input section
        //for input section
        //for input section
        //for input section
        .input-section {
            margin-top: 50px;
        }
        //copied styling from template
        //copied styling from template
        //copied styling from template
        //copied styling from template
        .scroll-content {
            background-color: white;
            display: flex;
            flex-direction: column;
            overflow: hidden;
        }
        img {
            width: 50%;
            height: auto;
            margin: 0 auto;
        }
        #cloud-layer {
            //background-image: url(../assets/images/loginbackground.png);
            background-size: cover;
            width: 100%;
            height: 1000px;
            // margin-top: -150px;
        }
        ion-row {
            align-items: center;
            text-align: center;
        }
        .login-item-qatar {
            border-radius: 5px !important;
            padding-left: 10px !important;
            margin-bottom: 10px;
            background-color: #f6f6f6;
            opacity: 0.7;
            font-size: 0.9em;
            border: .5px solid #bdbdbd!important;
        }
        ion-list {
            margin: 0;
        }
        .login-button {
            width: 100%;
            border-radius: 5px;
            font-size: 0.9em;
            border: 1px solid #fff;
            background-color: green;
        }
        .login-round-button {
            padding: 0 1.9rem;
            font-size: 3.4rem;
            height: 6.6rem;
            background: lightgray
        }
        .login-round-button-ios {
            padding: 0 1.9rem;
            font-size: 3.4rem;
            height: 5.6rem;
            background: green
        }
        //automatic login string
        .automatic-login-string {
            text-align: center;
            color: lightgrey;
            font-style: italic;
        }
        //totally copid loading animation bar
        //totally copid loading animation bar
        //totally copid loading animation bar
        //totally copid loading animation bar
        //totally copid loading animation bar
        //totally copid loading animation bar
        #fountainG {
            position: relative;
            width: 78px;
            height: 9px;
            margin: auto;
        }
        .fountainG {
            position: absolute;
            top: 0;
            background-color: rgba(140, 138, 140, 0.44);
            width: 9px;
            height: 9px;
            animation-name: bounce_fountainG;
            -o-animation-name: bounce_fountainG;
            -ms-animation-name: bounce_fountainG;
            -webkit-animation-name: bounce_fountainG;
            -moz-animation-name: bounce_fountainG;
            animation-duration: 2.67s;
            -o-animation-duration: 2.67s;
            -ms-animation-duration: 2.67s;
            -webkit-animation-duration: 2.67s;
            -moz-animation-duration: 2.67s;
            animation-iteration-count: infinite;
            -o-animation-iteration-count: infinite;
            -ms-animation-iteration-count: infinite;
            -webkit-animation-iteration-count: infinite;
            -moz-animation-iteration-count: infinite;
            animation-direction: normal;
            -o-animation-direction: normal;
            -ms-animation-direction: normal;
            -webkit-animation-direction: normal;
            -moz-animation-direction: normal;
            transform: scale(.3);
            -o-transform: scale(.3);
            -ms-transform: scale(.3);
            -webkit-transform: scale(.3);
            -moz-transform: scale(.3);
            border-radius: 6px;
            -o-border-radius: 6px;
            -ms-border-radius: 6px;
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
        }
        #fountainG_1 {
            left: 0;
            animation-delay: 1.07s;
            -o-animation-delay: 1.07s;
            -ms-animation-delay: 1.07s;
            -webkit-animation-delay: 1.07s;
            -moz-animation-delay: 1.07s;
        }
        #fountainG_2 {
            left: 10px;
            animation-delay: 1.33s;
            -o-animation-delay: 1.33s;
            -ms-animation-delay: 1.33s;
            -webkit-animation-delay: 1.33s;
            -moz-animation-delay: 1.33s;
        }
        #fountainG_3 {
            left: 19px;
            animation-delay: 1.6s;
            -o-animation-delay: 1.6s;
            -ms-animation-delay: 1.6s;
            -webkit-animation-delay: 1.6s;
            -moz-animation-delay: 1.6s;
        }
        #fountainG_4 {
            left: 29px;
            animation-delay: 1.87s;
            -o-animation-delay: 1.87s;
            -ms-animation-delay: 1.87s;
            -webkit-animation-delay: 1.87s;
            -moz-animation-delay: 1.87s;
        }
        #fountainG_5 {
            left: 39px;
            animation-delay: 2.13s;
            -o-animation-delay: 2.13s;
            -ms-animation-delay: 2.13s;
            -webkit-animation-delay: 2.13s;
            -moz-animation-delay: 2.13s;
        }
        #fountainG_6 {
            left: 49px;
            animation-delay: 2.4s;
            -o-animation-delay: 2.4s;
            -ms-animation-delay: 2.4s;
            -webkit-animation-delay: 2.4s;
            -moz-animation-delay: 2.4s;
        }
        #fountainG_7 {
            left: 58px;
            animation-delay: 2.67s;
            -o-animation-delay: 2.67s;
            -ms-animation-delay: 2.67s;
            -webkit-animation-delay: 2.67s;
            -moz-animation-delay: 2.67s;
        }
        #fountainG_8 {
            left: 68px;
            animation-delay: 2.93s;
            -o-animation-delay: 2.93s;
            -ms-animation-delay: 2.93s;
            -webkit-animation-delay: 2.93s;
            -moz-animation-delay: 2.93s;
        }
        @keyframes bounce_fountainG {
            0% {
                transform: scale(1);
                background-color: rgba(128, 120, 128, 0.37);
            }
            100% {
                transform: scale(.3);
                background-color: rgba(255, 255, 255, 0.45);
            }
        }
        @-o-keyframes bounce_fountainG {
            0% {
                -o-transform: scale(1);
                background-color: rgba(128, 120, 128, 0.37);
            }
            100% {
                -o-transform: scale(.3);
                background-color: rgba(255, 255, 255, 0.45);
            }
        }
        @-ms-keyframes bounce_fountainG {
            0% {
                -ms-transform: scale(1);
                background-color: rgba(128, 120, 128, 0.37);
            }
            100% {
                -ms-transform: scale(.3);
                background-color: rgba(255, 255, 255, 0.45);
            }
        }
        @-webkit-keyframes bounce_fountainG {
            0% {
                -webkit-transform: scale(1);
                background-color: rgba(128, 120, 128, 0.37);
            }
            100% {
                -webkit-transform: scale(.3);
                background-color: rgba(255, 255, 255, 0.45);
            }
        }
        @-moz-keyframes bounce_fountainG {
            0% {
                -moz-transform: scale(1);
                background-color: rgba(128, 120, 128, 0.37);
            }
            100% {
                -moz-transform: scale(.3);
                background-color: rgba(255, 255, 255, 0.45);
            }
        }
    }
}