pharmacyList {
    .accordion-list {
        background: color($colors, light);
        height: 100%;
    }
    .section {
        background: #fff;
        color: white;
        margin-bottom: 0px;
        box-shadow: inset 0px 9px 8px 0px rgba(0, 0, 0, 0.15);
    }
    .section-active {
        background: #ffc400;
        color: #fff;
    }
    .child {
        background: #e8e7e6;
        color: #000;
        margin-bottom: 4px;
    }
    .child-item {
        background: #f3f2f1;
        padding: 10px;
    }
    .label {
        margin: 0px;
    }
    .list {
        margin-bottom: 4px;
    }
    .list-header-md {
        margin-bottom: 0px;
    }
    //header styling
    .toolbar-background {
        background: #5ac4bf;
    }
    .toolbar-title {
        color: white;
    }
    .back-button-icon {
        color: white;
    }
    // doctors thumbnai styling
    ion-thumbnail {
        max-width: 40px!important;
        max-height: 40px!important;
        min-width: 40px!important;
        min-height: 40px!important;
    }
    ion-thumbnail img {
        width: 40px!important;
        height: 40px!important;
    }
    .row {
        flex-wrap: nowrap;
    }
    .reports-grid {
        background: #f3f2f1;
        padding: 10px;
        border: 1px solid;
        border-radius: 5px;
        margin: 5px;
        box-shadow: inset 0px 9px 8px 0px rgba(0, 0, 0, 0.15);
    }
    .report-header {
        color: black;
        padding: 10px;
        min-width: 75px;
        text-align: center;
    }
    .header-calss-vs {
        color: grey!important;
        text-align: center;
        width: 100%;
        display: block;
    }
    .list-ios .item-block .item-inner {
        border: 0px!important
    }
    .medsNme {
        font-size: 14px;
        border: 1px solid lightgray;
    }
    .medAvailable {
        color: rgb(172, 193, 98) !important;
    }
    .medUnAvailable {
        color: rgba(216, 102, 107, 0.47)!important;
    }
    .medAvailableText {
        color: rgba(0, 0, 0, 0.63) !important
    }
    .medUnAvailableText {
        color: rgba(171, 169, 169, 0.82) !important
    }
}