<ion-header>
    <ion-navbar>
        <ion-title>
            Pharmacy List
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>

    <ion-searchbar animated='true' [(ngModel)]="searchInput" [showCancelButton]="shouldShowCancel" (ionCancel)="onCancel($event)">
    </ion-searchbar>
    <!-- First Level -->

    <ion-list [virtualScroll]="pharmacyList | searchMeds: searchInput" [approxItemHeight]="'50px'" [bufferRatio]="3" [headerFn]="myHeaderFn">

        <ion-item-divider *virtualHeader="let header">
            <span class="header-calss-vs">   {{ header }}</span>
        </ion-item-divider>

        <ion-item *virtualItem="let medicines " text-wrap class='medsNme'>
            <span [ngClass]="getAvailbility(medicines)"> {{ medicines.name }}</span>
            <ion-icon item-end [hidden]="medicines.quantity===0" class="medAvailable" name="checkmark-circle"></ion-icon>
            <ion-icon item-end [hidden]="medicines.quantity!==0" class="medUnAvailable" name="close-circle"></ion-icon>
        </ion-item>

    </ion-list>

</ion-content>