<ion-header>
    <ion-navbar>
        <ion-title>
            <span>Department List</span>


        </ion-title>
        <!-- <ion-buttons  side="right">
            <ion-icon class="search-icon" name="search"></ion-icon>
        </ion-buttons> -->
        <ion-buttons end style="border: 1px solid white; padding: 1px 20px;">
            <button ion-button icon-only (click)="toggleSearchInputBox()">
                  <ion-icon  style="color:white" name="search"></ion-icon>
                </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list class="accordion-list" [hidden]="showDoctorsSearchUI">
        <!-- First Level -->
        <ion-list-header *ngFor="let department of departsmentList; let i = index" no-lines no-padding>
            <!-- Toggle Button -->
            <button ion-item (click)="toggleSection(i)" detail-none [ngClass]="{'section-active': department.open, 'section': !department.open}" [style.background-color]="setColorOfList(i)">
      <ion-icon class="arrow-icon" item-left name="arrow-forward" *ngIf="!department.open"></ion-icon>
      <ion-icon class="arrow-icon"  item-left name="arrow-down" *ngIf="department.open"></ion-icon>
        {{ department.name }}
    </button>
            <ion-list *ngIf="department.doctors && department.open" no-lines>
                <ion-item>
                    <div [ngStyle]="{'background-image': 'url(assets/images/departmentsBannerImage/'+department.name.split(' ').join('_')+'.jpeg)'}" class="bannerImage">

                    </div>
                </ion-item>
                <!-- Second Level -->
                <ion-list-header *ngFor="let doctor of department.doctors; let j = index" no-padding>
                    <ion-item *ngIf="!doctor.children" ion-item detail-none class="child-item" text-wrap (click)="goTodoctorDetailsPage(doctor)">
                        <ion-thumbnail item-start>
                            <img src="assets/images/doctor.svg">
                        </ion-thumbnail>
                        <h2>{{'Dr. '+ doctor.name }}</h2>
                        <!-- <p text-lowercase>{{ doctor.name }}</p> -->
                    </ion-item>

                </ion-list-header>
            </ion-list>

        </ion-list-header>
    </ion-list>

    <ion-list [hidden]="!showDoctorsSearchUI">
        <ion-searchbar animated='true' [(ngModel)]="searchInput" [showCancelButton]="shouldShowCancel" (ionCancel)="onCancel($event)">
        </ion-searchbar>
        <div style="margin-top:10px">
            <ion-list-header *ngFor="let doctor of doctorsList| searchDoctor:'name,departmentName':searchInput" no-padding (click)="goTodoctorDetailsPage(doctor)">
                <ion-item *ngIf="doctor.name" ion-item detail-none class="child-item" text-wrap>
                    <ion-thumbnail item-start>
                        <img src="assets/images/doctor.svg">
                    </ion-thumbnail>
                    <span>{{'Dr. '+ doctor.name }}</span><span class="departmentList"> {{doctor.departmentName}}</span>
                    <!-- <p text-lowercase>{{ doctor.name }}</p> -->
                </ion-item>




            </ion-list-header>
        </div>
    </ion-list>
</ion-content>