page-home {
    .ion-content {
        background-color: transparent;
    }
    .fixed-content {
        margin-top: 56px;
    }
    .scroll-content {
        margin-top: 56px
    }
    .ion-content {
        contain: size style
    }
    //cards styling
    .header-cards {
        width: 100%;
        //min-height: 60px;
        margin: 0px;
        // box-shadow: 0px 1px 20px 2px rgb(90, 196, 191);
        border-radius: 0px;
        background: #5ac4bf;
        //margin-bottom: 5px;
    }
    .custom-cards1 {
        width: 100%;
        // min-height: 100px;
        margin: 0px;
        // box-shadow: 0px 1px 20px 2px rgb(90, 196, 191);
        border-radius: 0px;
        background: #5e92f3;
        // margin-bottom: 5px;
    }
    .custom-cards2 {
        width: 100%;
        // min-height: 100px;
        margin: 0px;
        // box-shadow: 0px 1px 20px 2px rgb(90, 196, 191);
        border-radius: 0px;
        background: #d3505d;
        // margin-bottom: 5px;
    }
    .custom-cards3 {
        width: 100%;
        // min-height: 100px;
        margin: 0px;
        //box-shadow: 0px 1px 20px 2px rgb(90, 196, 191);
        border-radius: 0px;
        background: #d8666b;
        //margin-bottom: 5px;
    }
    .custom-cards4 {
        width: 100%;
        //  min-height: 100px;
        margin: 0px;
        //box-shadow: 0px 1px 20px 2px rgb(90, 196, 191);
        border-radius: 0px;
        background: #3d3b3b;
        //margin-bottom: 5px;
    }
    .box-shadow-cards {
        box-shadow: inset 0px 9px 8px 0px rgba(0, 0, 0, 0.15);
        min-height: 150px
    }
    .custom-card-content {
        max-height: 150px;
        background: white;
        margin: 15px;
        min-height: 120px;
        // max-height: 120px;
        border-radius: 5px;
        box-shadow: inset 4px 4px 8px 0px rgba(0, 0, 0, 0.27), inset -4px -4px 8px 0px rgba(0, 0, 0, 0.27);
    }
    //header styling
    ion-header ion-navbar .toolbar-background {
        background: #003c8f;
        color: white;
    }
    .toolbar-title {
        color: white
    }
    //icon styling
    .custom-icon-user-card {
        font-size: 22px;
        min-height: 0px;
        color: #5e92f3;
    }
    .medikitIcon {
        color: #d3505d;
        font-size: 40px;
    }
    .medkit-icon {
        color: #d3505d;
    }
    .body-icon {
        color: #d3505d;
    }
    .people-icon {
        color: #5e92f3;
    }
    .card-icon {
        font-size: 60px;
        line-height: 70px;
    }
    .locate-icon {
        color: #5e92f3;
    }
    .appointment-icon {
        color: #d3505d;
    }
    .icon-col {
        max-width: 25%;
        box-shadow: 0 9px 18px rgba(0, 0, 0, 0.1), 1px 1px 3px 0px rgba(0, 0, 0, 0.12);
        max-width: 25%;
        margin-right: 12px;
        text-align: center;
        max-height: 80px;
        margin-top: auto;
        margin-bottom: auto;
        border-radius: 5px;
    }
    .icon-col-person-detail {
        max-width: 10%;
    }
    .heading-row {
        border-bottom: 1px solid rgba(119, 136, 153, 0.32);
        margin-bottom: 4px;
    }
    .userDetails-row {
        // border-bottom: 1px solid rgba(119, 136, 153, 0.32);
        margin-bottom: 4px;
    }
    .description-text {
        color: lightslategray;
    }
    .heading-text {
        font-size: 16px
    }
    .medikit-item {
        background: transparent;
    }
    span.icon-block {
        margin: 0px!important;
    }
    .label-md {
        // margin: 0px;
    }
    .user-card-appointment-text {
        font-size: 13px;
        color: lightslategrey;
    }
    .item-md {
        // padding-left: 0px;
    }
    ///main fab button
    .fabButton {
        // color: #5ac4bf !important;
        background: #d4515d !important;
        ;
        -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37)
    }
    .facebookButton {
        background: #4267b2;
        color: white;
    }
    .twitterButton {
        background: #1da1f2;
    }
    .whatsappButton {
        // background: #009688
        color: white;
        background: #34c734
    }
    .twitterLogo {
        color: white;
    }
    .Spantext {
        font-size: 12px
    }
    ion-label {
        margin: 0px!important;
    }
    .prescription-icon {
        // background-image: url(../assets/images/meds.png) !important;
        width: 53px;
        height: 53px;
        padding: 0px;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        // min-height: 50px;
        /* margin-left: 10%; */
        margin-top: 10px;
        // margin-bottom: 10px;
    }
    .doctor-icon {
        // background-image: url(../assets/images/meds.png) !important;
        width: 53px;
        height: 53px;
        padding: 0px;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        // min-height: 50px;
        /* margin-left: 10%; */
        margin-top: 10px;
        // margin-bottom: 10px;
    }
}