<ion-header class="header-cards ">
    <ion-navbar>
        <ion-title text-center text-wrap>Al Emadi Hospital</ion-title>
    </ion-navbar>

</ion-header>

<ion-content class="has-header has-tabs ion-content padding-top">
    <ion-fab top right edge #fab>
        <button ion-fab mini class='fabButton' (click)="passFab(fab)"><ion-icon name="share" class="fabIcon" md="md-share" ></ion-icon></button>
        <ion-fab-list>
            <button ion-fab class="shareButton facebookButton" (click)="shareOnfb()"><ion-icon name="logo-facebook"></ion-icon></button>
            <button ion-fab class="shareButton twitterButton" (click)="shareOnTwitter()"><ion-icon class="twitterLogo" name="logo-twitter"></ion-icon></button>
            <!-- <button ion-fab class="shareButton googleButton" (click)="shareOnGoogle()"><ion-icon class="googleLogo" name="logo-googleplus"></ion-icon></button> -->
            <button ion-fab class="shareButton whatsappButton" (click)="shareOnWhatsApp()"><ion-icon class="whatsAppLogo" name="logo-whatsapp"></ion-icon></button>
            <!-- <button ion-fab class="shareButton instaButton" (click)="shareOnInsta()"><ion-icon class="instaLogo" name="logo-instagram"></ion-icon></button> -->
        </ion-fab-list>
    </ion-fab>
    <div>
        <!-- Real floating action button, fixed. It will not scroll with the content -->
        <ion-card class="custom-cards1 box-shadow-cards">
            <ion-card-content class="custom-card-content">
                <!-- <ion-item no-lines text-wrap> -->
                <!-- <ion-icon class="custom-icon-user-card" item-start name="person"></ion-icon>
                <span item-start class="Spantext">{{userDetails?.DISNAME}}111111111</span>
                <ion-icon class="custom-icon-user-card phone-icon" item-end name="call"></ion-icon>
                <span item-end class="Spantext">{{userDetails?.PHOCELL}}1234567891</span> -->
                <!-- </ion-item> -->
                <ion-item no-lines>

                    <ion-row>
                        <ion-col class="icon-col-person-detail">
                            <ion-icon class="custom-icon-user-card" item-center name="person"></ion-icon>
                        </ion-col>
                        <ion-col>
                            <span class="heading-text" item-left>{{userDetails?.DISNAME}}</span>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col class="icon-col-person-detail">
                            <ion-icon class="custom-icon-user-card" item-center name="document"></ion-icon>
                        </ion-col>
                        <ion-col>
                            <span class="heading-text" item-left>{{userDetails?.POLICYNO}}</span>
                        </ion-col>
                    </ion-row>
                    <ion-row>

                        <ion-col>
                            <span style="color: grey; font-style: italic;"> You last visited us on </span><span class="heading-text" item-left>{{userDetails?.LASTVISITED}}</span>
                        </ion-col>
                    </ion-row>
                    <!-- <div class="row" style="margin: 0px 8px 6px 0;"> 
                            <ion-icon class="custom-icon-user-card"  name="person"></ion-icon>
                            <span  class="Spantext">{{userDetails?.DISNAME}}111111111</span>                      
                      
            </div> -->

                    <!--                
                            <div class="row">
                            <ion-icon class="custom-icon-user-card phone-icon" item-end name="call"></ion-icon>
                   
                 </div>
                 <div class="row"> 
                        <span class="Spantext" item-start ><b>Policy ID :</b>{{userDetails?.POLICYID}}1212121212</span></div>
                        <div class="row">
                        <span item-end class="Spantext" ><b>Last Visit :</b>{{userDetails?.LASTVISIT}}12321232131</span>
                    </div> -->


                </ion-item>


            </ion-card-content>
        </ion-card>

        <ion-card class="custom-cards2 box-shadow-cards" (click)="goToLabReportsPage()">
            <ion-card-content class="custom-card-content">

                <ion-row>

                    <ion-col class="icon-col">
                        <ion-icon class="card-icon body-icon" item-center name="body"></ion-icon>
                    </ion-col>
                    <ion-col>
                        <ion-row class="heading-row">
                            <span class="heading-text" item-left>Lab Reports</span>
                        </ion-row>
                        <ion-row>
                            <span class="description-text">All your lab reports are now few clicks away</span>
                        </ion-row>
                    </ion-col>
                </ion-row>

            </ion-card-content>
        </ion-card>
        <ion-card class="custom-cards1 box-shadow-cards" (click)="goToDepartmentsAndDoctorPage()">
            <ion-card-content class="custom-card-content">
                <ion-row>

                    <ion-col class="icon-col">
                        <ion-icon class="card-icon  people-icon" item-center name="people"></ion-icon>
                    </ion-col>
                    <ion-col>
                        <ion-row class="heading-row">
                            <span class="heading-text">  Find A Doctor</span>
                        </ion-row>
                        <ion-row>
                            <span class="description-text">Book an appointment with a specialists in few easy steps</span>
                        </ion-row>
                    </ion-col>
                </ion-row>
            </ion-card-content>
        </ion-card>
        <ion-card class="custom-cards2 box-shadow-cards" (click)="goToPharmacyListPage()">
            <ion-card-content class="custom-card-content">
                <ion-row>

                    <ion-col class="icon-col">
                        <ion-icon class="card-icon  medkit-icon" item-center name="medkit"></ion-icon>
                    </ion-col>
                    <ion-col>
                        <ion-row class="heading-row">
                            <span class="heading-text"> Pharmacy</span>
                        </ion-row>
                        <ion-row>
                            <span class="description-text">Search for medicines from our Pharmacy</span>
                        </ion-row>
                    </ion-col>
                </ion-row>
            </ion-card-content>
        </ion-card>
        <ion-card class="custom-cards1 box-shadow-cards">
            <ion-card-content class="custom-card-content">
                <!-- Add card content here! -->
                <!-- <ion-item no-lines class="medikit-item" (click)="navigateToHospital()">
                    <ion-icon item-start class="locate" name="locate"></ion-icon><span class="user-card-appointment-text" text-wrap>Go To Hospital</span>
                </ion-item> -->
                <ion-row (click)="navigateToHospital()">

                    <ion-col class="icon-col">
                        <ion-icon class="card-icon locate-icon" item-center name="locate"></ion-icon>
                    </ion-col>
                    <ion-col>
                        <ion-row class="heading-row">
                            <span class="heading-text">  Locate Hospital</span>
                        </ion-row>
                        <ion-row>
                            <span class="description-text">Show Directions</span>
                        </ion-row>
                    </ion-col>
                </ion-row>
            </ion-card-content>
        </ion-card>

        <!-- with custom icon -->
        <ion-card class="custom-cards2 box-shadow-cards">
            <ion-card-content class="custom-card-content">
                <!-- Add card content here! -->
                <!-- <ion-item no-lines class="medikit-item" (click)="navigateToHospital()">
                        <ion-icon item-start class="locate" name="locate"></ion-icon><span class="user-card-appointment-text" text-wrap>Go To Hospital</span>
                    </ion-item> -->
                <ion-row (click)="navigateToHospital()">

                    <ion-col class="icon-col">
                        <ion-icon class="card-icon prescription-icon" item-center style="background-image: url(assets/images/meds1.png) !important;"></ion-icon>
                    </ion-col>
                    <ion-col>
                        <ion-row class="heading-row">
                            <span class="heading-text"> Prescription</span>
                        </ion-row>
                        <ion-row>
                            <span class="description-text">Your previous and current prescriptions</span>
                        </ion-row>
                    </ion-col>
                </ion-row>
            </ion-card-content>
        </ion-card>


        <!-- with custom icon -->
        <ion-card class="custom-cards1 box-shadow-cards">
            <ion-card-content class="custom-card-content">
                <!-- Add card content here! -->
                <!-- <ion-item no-lines class="medikit-item" (click)="navigateToHospital()">
                            <ion-icon item-start class="locate" name="locate"></ion-icon><span class="user-card-appointment-text" text-wrap>Go To Hospital</span>
                        </ion-item> -->
                <ion-row (click)="navigateToHospital()">

                    <ion-col class="icon-col">
                        <ion-icon class="card-icon doctor-icon" item-center style="background-image: url(assets/images/docIcon1.png) !important;"></ion-icon>
                    </ion-col>
                    <ion-col>
                        <ion-row class="heading-row">
                            <span class="heading-text">Your Doctors</span>
                        </ion-row>
                        <ion-row>
                            <span class="description-text">Recently contacted doctors</span>
                        </ion-row>
                    </ion-col>
                </ion-row>
            </ion-card-content>
        </ion-card>

        <ion-card class="custom-cards2 box-shadow-cards">
            <ion-card-content class="custom-card-content">
                <!-- Add card content here! -->
                <!-- <ion-item no-lines class="medikit-item" (click)="navigateToHospital()">
                            <ion-icon item-start class="locate" name="locate"></ion-icon><span class="user-card-appointment-text" text-wrap>Go To Hospital</span>
                        </ion-item> -->
                <ion-row (click)="goToAppointmentListPage()">

                    <ion-col class="icon-col">
                        <ion-icon class="card-icon appointment-icon" item-center name='calendar'></ion-icon>
                    </ion-col>
                    <ion-col>
                        <ion-row class="heading-row">
                            <span class="heading-text">Appointments</span>
                        </ion-row>
                        <ion-row>
                            <span class="description-text">Your already booked appointments with our specialists.</span>
                        </ion-row>
                    </ion-col>
                </ion-row>
            </ion-card-content>
        </ion-card>


        <!-- with custom icon -->
        <ion-card class="custom-cards1 box-shadow-cards">
            <ion-card-content class="custom-card-content">
                <!-- Add card content here! -->
                <!-- <ion-item no-lines class="medikit-item" (click)="navigateToHospital()">
                                        <ion-icon item-start class="locate" name="locate"></ion-icon><span class="user-card-appointment-text" text-wrap>Go To Hospital</span>
                                    </ion-item> -->
                <ion-row (click)="navigateToHospital()">

                    <ion-col class="icon-col">
                        <ion-icon class="card-icon doctor-icon" item-center style="background-image: url(assets/images/askDoc1.png) !important;"></ion-icon>
                    </ion-col>
                    <ion-col>
                        <ion-row class="heading-row">
                            <span class="heading-text">Ask A Doctor</span>
                        </ion-row>
                        <ion-row>
                            <span class="description-text">Ask a Doctor Online and get instant medical advice and expert answers.</span>
                        </ion-row>
                    </ion-col>
                </ion-row>
            </ion-card-content>
        </ion-card>


        <!-- with custom icon -->
        <ion-card class="custom-cards2 box-shadow-cards">
            <ion-card-content class="custom-card-content">
                <!-- Add card content here! -->
                <!-- <ion-item no-lines class="medikit-item" (click)="navigateToHospital()">
                                        <ion-icon item-start class="locate" name="locate"></ion-icon><span class="user-card-appointment-text" text-wrap>Go To Hospital</span>
                                    </ion-item> -->
                <ion-row (click)="navigateToHospital()">

                    <ion-col class="icon-col">
                        <ion-icon class="card-icon doctor-icon" item-center style="background-image: url(assets/images/vaccine1.png) !important;"></ion-icon>
                    </ion-col>
                    <ion-col>
                        <ion-row class="heading-row">
                            <span class="heading-text">Vaccines</span>
                        </ion-row>
                        <ion-row>
                            <span class="description-text">Find out what vaccines you need and schedule a meeting.</span>
                        </ion-row>
                    </ion-col>
                </ion-row>
            </ion-card-content>
        </ion-card>

        <ion-card class="custom-cards1 box-shadow-cards">
            <ion-card-content class="custom-card-content">
                <!-- Add card content here! -->
                <!-- <ion-item no-lines class="medikit-item" (click)="navigateToHospital()">
                                            <ion-icon item-start class="locate" name="locate"></ion-icon><span class="user-card-appointment-text" text-wrap>Go To Hospital</span>
                                        </ion-item> -->
                <ion-row (click)="navigateToHospital()">

                    <ion-col class="icon-col">
                        <ion-icon class="card-icon doctor-icon" item-center style="background-image: url(assets/images/packages1.png) !important;"></ion-icon>
                    </ion-col>
                    <ion-col>
                        <ion-row class="heading-row">
                            <span class="heading-text">Packages</span>
                        </ion-row>
                        <ion-row>
                            <span class="description-text">Hospital And Insurance Packages.</span>
                        </ion-row>
                    </ion-col>
                </ion-row>
            </ion-card-content>
        </ion-card>
        <!-- <ion-card class="custom-cards1 box-shadow-cards">
        <ion-card-content class="custom-card-content">
            
    </ion-card-content>
    </ion-card> -->
    </div>
</ion-content>