page-lap-reports {
    .accordion-list {
        background: color($colors, light);
        height: 100%;
    }
    .section {
        background: #fff;
        color: white;
        margin-bottom: 0px;
        box-shadow: inset 0px 9px 8px 0px rgba(0, 0, 0, 0.15);
        border-radius: 0px;
    }
    .section-active {
        background: #ffc400;
        color: #fff;
    }
    .child {
        background: #e8e7e6;
        color: #000;
        margin-bottom: 4px;
    }
    .child-item {
        background: #f3f2f1;
        padding: 10px;
    }
    .label {
        margin: 0px;
    }
    .list {
        margin-bottom: 4px;
    }
    .list-header-md {
        margin-bottom: 0px;
    }
    //header styling
    .toolbar-background {
        background: #003c8f;
    }
    .toolbar-title {
        color: white;
    }
    .back-button-icon {
        color: white;
    }
    // doctors thumbnai styling
    ion-thumbnail {
        max-width: 40px!important;
        max-height: 40px!important;
        min-width: 40px!important;
        min-height: 40px!important;
    }
    ion-thumbnail img {
        width: 40px!important;
        height: 40px!important;
    }
    .reports-grid {
        background: #f3f2f1;
        padding: 7px;
        border: 1px solid;
        border-radius: 5px;
        margin: 5px;
        //box-shadow: inset 0px 9px 8px 0px rgba(0, 0, 0, 0.15);
    }
    .report-header {
        color: black;
        padding: 10px;
        min-width: 75px;
        text-align: center;
        font-weight: bold;
    }
    .report-values {
        display: flex;
        line-height: 100%;
    }
    .report-limit {
        font-size: 9px;
    }
    .report-result {
        flex: 1;
        font-size: 14px;
        color: black!important;
    }
    .green-report {
        background: rgba(172, 193, 98, 0.795)!important;
        color: white
    }
    .red-report {
        background: rgba(255, 0, 0, 0.58)!important;
        color: white;
    }
    .row {
        flex-wrap: nowrap;
    }
    .someclass {}
}