<ion-header>
    <ion-navbar>
        <ion-title>
            Lab Reports
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list class="accordion-list">
        <!-- First Level -->
        <ion-list-header *ngFor="let labReport of labReportsList; let i = index" no-lines no-padding>
            <!-- Toggle Button -->
            <button ion-item (click)="toggleSection(i)" detail-none [ngClass]="{'section-active': labReport.open, 'section': !labReport.open}" [style.background-color]="setColorOfList(i)">
    <ion-icon item-left name="arrow-forward" *ngIf="!labReport.open"></ion-icon>
    <ion-icon item-left name="arrow-down" *ngIf="labReport.open"></ion-icon>
      {{ labReport.name }}
  </button>
            <ion-list *ngIf="labReport.test && labReport.open" no-lines>
                <!-- Second Level -->
                <ion-list-header *ngFor="let test of labReport.test; let j = index" no-padding>

                    <!-- Toggle Button -->
                    <button ion-item (click)="toggleItem(i, j)" *ngIf="test.subtest" class="child" detail-none>
                <ion-icon item-left name="add" *ngIf="!test.open"></ion-icon>
                <ion-icon item-left name="close" *ngIf="test.open"></ion-icon>
                {{ test.name }}
              </button>

                    <!-- Direct Add Button as Fallback -->
                    <ion-item *ngIf="!test.subtest" ion-item detail-none class="child-item" text-wrap>
                        <ion-thumbnail item-start>
                            <img src="assets/images/doctor.svg">
                        </ion-thumbnail>
                        <h2>{{test.name}}</h2>

                        <!-- <p text-lowercase>{{ doctor.name }}</p> -->
                    </ion-item>

                    <ion-list *ngIf="test.subtest && test.open">


                        <ion-row style="overflow-x:auto">
                            <ion-col *ngFor="let report of test.subtest; let k = index" detail-none class="reports-grid" [ngClass]="getReportClass(report)">
                                <h2 class="report-header">{{ report.name }}</h2>
                                <h2 class="report-values">
                                    <span class="report-limit" [hidden]="report.min===0&&report.max===0">{{ report.min }}</span>
                                    <span class="report-result" text-lowercase text-center>{{ report.result }}</span>
                                    <span class="report-limit" [hidden]="report.min===0&&report.max===0">{{ report.max }}</span>

                                </h2>
                            </ion-col>
                        </ion-row>

                        <!-- Third Level
                        <ion-item *ngFor="let report of test.subtest; let k = index" detail-none class="child-item" text-wrap>
                            <h2>{{ report.name }}</h2>
                            <p text-lowercase text-center>{{ report.result }}</p>
                         

                        </ion-item> -->
                    </ion-list>

                </ion-list-header>
            </ion-list>

        </ion-list-header>
    </ion-list>
</ion-content>