page-doctor-details {
    .toolbar-title {
        color: white
    }
    .toolbar-background {
        background: #003c8f;
    }
    .custom-doctor-department-text {
        font-size: 12px;
        text-align: center;
        border-bottom: 1px solid lightgrey;
    }
    .slots-card-content {
        display: flex;
        flex-wrap: wrap;
    }
    .slots-block {
        margin: 2px;
        border: 1px solid lightgrey;
        padding: 5px;
        border-radius: 5px;
        max-width: 75px;
        min-width: 75px;
    }
    .slot-available {
        background: rgba(91, 195, 190, 0.7);
    }
    .slot-not-available {
        background: rgba(211, 211, 211, 0.47);
        border-radius: 5px;
    }
    .date-input-style {
        width: 100%!important;
        border: 1px solid rgba(128, 128, 128, 0.71);
        padding: 10px;
        border-radius: 10px;
        -webkit-appearance: none;
        -moz-appearance: none;
        height: 50px;
    }
    .enter-date-instruction {
        text-align: center;
        width: 100%;
        color: darkgray;
        padding-bottom: 4px;
        font-size: small;
        font-style: italic;
    }
    .arriveDate,
    .arriveTime {
        -webkit-appearance: none;
        -moz-appearance: none;
    }
}