<!--
  Generated template for the DoctorDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title style="color:white">Slot Details</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-card>
        <!-- <ion-card-header>
            <h2 class="custom-doctor-department-text"></h2>
        </ion-card-header> -->
        <ion-card-content>
            <ion-item *ngIf="doctorDetails.name" ion-item detail-none text-wrap>
                <ion-thumbnail item-start>
                    <img src="assets/images/doctor.svg">
                </ion-thumbnail>
                <h2>{{'Dr. '+ doctorDetails.name }}</h2>
                <!-- <p text-lowercase>{{ doctor.name }}</p> -->
            </ion-item>
            <ion-row>
                <ion-col center text-end>
                    <ion-note>
                        {{'( '+ doctorDetails.departmentName+' )' }}
                    </ion-note>
                </ion-col>
            </ion-row>

        </ion-card-content>
        <!-- <ion-item>
            <ion-input placeholder='Select Date' (click)="showDatePicker()"></ion-input>
        </ion-item> -->
    </ion-card>


    <ion-card>
        <ion-card-header>


            <p class="enter-date-instruction ">Provide a date to search for slots</p>
            <input placeholder='Enter date here' class='date-input-style' [ngModel]="startDate | date:'yyyy-MM-dd'" (ngModelChange)="startDate=$event;dateChanged($event)" type="date" name="startDate" />

        </ion-card-header>
        <ion-card-content class='slots-card-content' [hidden]='noSlotsForDoctor'>
            <div class="slots-block" *ngFor='let slot of doctorsSlots' [ngClass]="slot.availableStatus?'slot-available':'slot-not-available'"(click)="setSlot(slot)">
                {{slot?.slotTime}}
            </div>
        </ion-card-content>

        <ion-card-content [hidden]='!noSlotsForDoctor' style="color: darkgrey;">
            Doctor seems to be not available for selected date.
        </ion-card-content>
    </ion-card>








    <!-- Second Level -->

</ion-content>