<ion-header>
    <ion-navbar>
        <ion-title>
            <span>My Appointments</span>


        </ion-title>
        <!-- <ion-buttons  side="right">
            <ion-icon class="search-icon" name="search"></ion-icon>
        </ion-buttons> -->
        <!-- <ion-buttons end style="border: 1px solid white; padding: 1px 20px;">
            <button ion-button icon-only (click)="toggleSearchInputBox()">
                  <ion-icon  style="color:white" name="search"></ion-icon>
                </button>
        </ion-buttons> -->
    </ion-navbar>
</ion-header>

<ion-content>
 
    <ion-card class="custom-cards1 box-shadow-cards" style="    width: 100%;
    margin: 0px;"*ngFor="let department of appointmentList; let i = index" [style.background-color]="setColorOfList(i)">
        <ion-card-content class="custom-card-content">
            <ion-item no-lines>
                    
                     <ion-row>
                            <ion-col class="icon-col-person-detail colWidth" style="max-width:30%;">
                                    <span class="heading-text" item-left>Doctor</span>
                            </ion-col>
                            <ion-col>
                                <span class="heading-text text-wrap" item-left>{{": "+department.CLINICDESC}}</span>
                            </ion-col>
                        </ion-row>
                <ion-row>
                    <ion-col class="icon-col-person-detail colWidth">
                            <span class="heading-text" item-left>App. Date</span>
                    </ion-col>
                    <ion-col>
                        <span class="heading-text text-wrap" item-left>{{": "+department.APPDATE}}</span>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col class="icon-col-person-detail colWidth">
                      <span class="heading-text" item-left>App. Time</span>
                    </ion-col>
                    <ion-col>
                        <span class="heading-text text-wrap" item-left>{{": "+department.APPTIME}}</span>
                    </ion-col>
                </ion-row>
                <ion-row>

                    <!-- <ion-col>
                        <span style="color: grey; font-style: italic;"> You last visited us on </span><span class="heading-text" item-left></span>
                    </ion-col> -->
                </ion-row>
           


            </ion-item>


        </ion-card-content>
    </ion-card>

    <ion-list [hidden]="!showDoctorsSearchUI">
        <ion-searchbar animated='true' [(ngModel)]="searchInput" [showCancelButton]="shouldShowCancel" (ionCancel)="onCancel($event)">
        </ion-searchbar>
        <div style="margin-top:10px">
            <ion-list-header *ngFor="let doctor of doctorsList| searchDoctor:'name,departmentName':searchInput" no-padding (click)="goTodoctorDetailsPage(doctor)">
                <ion-item *ngIf="doctor.name" ion-item detail-none class="child-item" text-wrap>
                    <ion-thumbnail item-start>
                        <img src="assets/images/doctor.svg">
                    </ion-thumbnail>
                    <span>{{'Dr. '+ doctor.name }}</span><span class="departmentList"> {{doctor.departmentName}}</span>
                    <!-- <p text-lowercase>{{ doctor.name }}</p> -->
                </ion-item>




            </ion-list-header>
        </div>
    </ion-list>
</ion-content>