page-appointment-list {
    .accordion-list {
        background: color($colors, light);
        height: 100%;
    }
    .section {
        background: #fff;
        color: white;
        margin-bottom: 0px;
        box-shadow: inset 0px 9px 8px 0px rgba(0, 0, 0, 0.15);
        border-radius: 0px!important;
        min-height: 70px!important;
    }
    .section-active {
        background: #ffc400;
        color: #fff;
        min-height: 65px!important;
    }
    .child {
        background: #e8e7e6;
        color: #000;
        margin-bottom: 4px;
    }
    .child-item {
        background: #f3f2f1;
        padding: 10px;
    }
    .label {
        margin: 0px;
    }
    .list {
        margin-bottom: 4px;
    }
    .list-header-md {
        margin-bottom: 0px;
    }
    //header styling
    .toolbar-background {
        background: #003c8f;
    }
    .toolbar-title {
        color: white;
    }
    .back-button-icon {
        color: white;
    }
    // doctors thumbnai styling
    ion-thumbnail {
        max-width: 40px!important;
        max-height: 40px!important;
        min-width: 40px!important;
        min-height: 40px!important;
    }
    ion-thumbnail img {
        width: 40px!important;
        height: 40px!important;
    }
    .search-icon {
        margin: 2px;
        border: 1px solid white;
        color: white;
    }
    .departmentList {
        font-size: 10px;
        text-align: right;
        float: right;
        color: grey;
    }
    .bannerImage {
        //background-image: url(../assets/images/departmentsBannerImage/Dental.jpg) !important;
        padding: 0px;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        min-height: 160px;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 10px;
        margin-bottom: 10px;
        // -webkit-background-size: 80% 100%;
        //-moz-background-size: 80% 100%;
        //background-size: 100%;
    }
    .arrow-icon {
        line-height: 65px!important
    }
    .listStyleClass{
        margin-bottom: 10px;
        font-size: 14px;
        font-weight: 500;
        color: #787676;
    }
    .colWidth{
        max-width: 30%;
    }
    .heading-text {
        font-size: 14px;
    }
    .text-wrap{
        white-space: pre-line;
    }
}